.nav{
    background-color: rgb(221, 192, 26);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.nav ul{
    margin-right: 100px;
    display: flex;
    flex-direction: row;
}

.nav li{
    padding-right: 20px;
    list-style-type: none;
}

form{
    display: inline-block;
    width: 100px;
}


ul{
    display: flex;
}

li{
    margin: 5px;
    background-color: rgba(221, 192, 26, 0.801);
    padding: 20px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

